#attention-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content.sign_up.signup-login-form__container
      .modal-header{:align => "center"}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
      / Begin # DIV Form
      #div-forms
        .modal-container
          = bootstrap_form_for(:attention, url: attentions_path, html: { method: :post }) do |f|
            = f.select :currency, Country.categories, {placeholder: "選擇地區貨幣", class: "selectpicker", hide_label: true}
            = f.number_field :target_amount, hide_label: true, placeholder: "填入標的金額"
            = f.submit "送出"
