#login-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content.sign_up.signup-login-form__container
      .modal-header{:align => "center"}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
      / Begin # DIV Form
      #div-forms
        .modal-container
          = render 'application/modal/login'
          = render 'application/modal/lost'
          = render 'application/modal/register'

:sass
  .modal-container
    width: 100%
    padding: 10px 10px

  .modal-header
    border-bottom: none

  .modal-footer
    margin-top: 20px

  .modal-content
    position: relative
    overflow: hidden
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px !important
    background-color: #fff
    margin-left: auto
    margin-right: auto
    max-width: 520px

  @media (min-width: 744px)
    .modal-content.signup
      width: 315px

  @media (min-width: 744px)
    .signup-login-form__container
      min-width: 450px

  @media (max-width: 743px)
    .modal-content
      max-width: none
      height: 100%
      -webkit-border-radius: 0
      -moz-border-radius: 0
      border-radius: 0
      overflow: auto
  .mobile-bg-fix-wrap .mobile-bg-fix-whole-site
    z-index: auto
