#login-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", style: "display: none;", tabindex: "-1"}
  .modal-dialog
    .modal-content.sign_up.signup-login-form__container
      .modal-header{align: "center"}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
      / Begin # DIV Form
      #div-forms
        .modal-container
          = render 'application/modal/login'
          = render 'application/modal/lost'
          = render 'application/modal/register'
