#login-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header{:align => "center"}
        %img#img_logo.img-circle{:src => "http://bootsnipp.com/img/logo.jpg"}/
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
      / Begin # DIV Form
      #div-forms
        .modal-container
          = render 'application/modal/login'
          = render 'application/modal/lost'
          = render 'application/modal/register'

:sass
  .modal-container
    width: 100%
    padding: 10px 10px
