#login-modal.modal.fade.active{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content.sign_up.signup-login-form__container
      .modal-header{align: "center"}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
      / Begin # DIV Form
      #div-forms
        .modal-container
          #devise-error-message.text-center
            %p
          = render 'application/modal/login'
          = render 'application/modal/lost'
          = render 'application/modal/register'

:sass
  #devise-error-message p
    font-size: 18px
    color: red

  @media (max-width: 743px)
    .modal-dialog
      width: 100%
      height: 100%
      margin: 0
      padding: 0

    .modal-content
      height: auto
      min-height: 100%
      border-radius: 0
