// Place all the styles related to the countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.test a{
    width: 150px;
    display: inline-block;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 4px;
    margin: 0 4px;
    color: #017dbb;
    background-color: transparent;
    background-position: center 4px;
    background-size: 64px 64px;
    background-repeat: no-repeat;
  }

  a.country {
    text-align: center;
  }
  h3, h4 ,h5{
    text-align: center;
    font-family: Comic Sans MS,arial,helvetica,sans-serif;
  }
  .info {
    text-align: center;
  }
