- if current_user
  %li= link_to("提醒換匯", new_release_attentions_path, {"class": "nav-new","data-toggle": "modal", "data-target": "#attention-modal", remote: true, method: 'get'})
- else
  %li= link_to("提醒換匯", '#', {"data-toggle": "modal", "data-target": "#login-modal", remote: true, method: 'get'})
#attention-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
