- if !current_user
  %li= link_to("註冊", new_user_registration_path, { "data-toggle": "modal", remote: true, "data-target": "#login-modal", method: 'get'})
  -# %li= link_to("登入", '#login-modal', 'data-toggle': 'modal')
  %li= link_to("登入", new_user_session_path, {"data-target": "#login-modal", remote: true, 'data-toggle': 'modal', method: 'get'})
- else
  %li= link_to("登出", destroy_user_session_path, method: :delete)


= render 'application/modal/main'
