%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to '/' do
        = image_tag 'money.png'
      -# %a.navbar-brand{:href => "/"} 匯算網
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        = render 'login'
      %ul.nav.navbar-nav.navbar-right
        = render 'attention'
      -# %ul.nav.navbar-nav.navbar-right
      -#   = link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW"
      -#   = link_to "English", :controller => controller_name, :action => action_name, :locale => "en"


:sass
  nav.navbar.navbar-default
    .dropdown-menu li a
      color: black !important
    background-color: #2c3e50 !important
    a
      color: #fff
      &:hover, &:focus
        color: #18bc9c
      &.navbar-brand
        font-size: 22px
        line-height: 30px
    .navbar-header
      img
        height: 60px
        padding: 5px
    .navbar-nav li a
      line-height: 30px
