%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "/"} 匯算網
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        = render 'login'
