%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} 匯算網
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        = render 'login'
      %ul.nav.navbar-nav.navbar-right
        = render 'attention'


:sass
  .navbar-nav li a
    line-height: 30px
  nav.navbar.navbar-default
    background-color: #2c3e50 !important
    a
      color: #fff
      &.navbar-brand
        font-size: 22px
        line-height: 30px
